H1 {
    background-color: green;
    color: white;
    border-color: black;
    text-align: center;

}

nav {
      background-color: grey;
      color: white;
      text-align: center;
    }

  a {
    font-size: 18px;
    color: white;
  }

  ul {
      background-color: teal;
      color: black;

  }

div {
    background-color: red;
    color: black;
}

footer {
    background-color: black;
    color : white;
}
