*,
*:before,
*:after {
font-family: sans-serif;
box-sizing: border-box;
        }

html {
  margin: = 0px;
  padding: 0px;


}
h1 {
    background-color: black;
    color: white;
    border-color: black;
    text-align: center;
    margin: 0px;
  }

nav {
      background-color: grey;
      color: white;
      text-align: center;
    }

  nav a {
    font-size: 18px;
    color: white;
    text-decoration: none;

  }

  ul {
      background-color: #00ecd3;
      color: black;

    }

  .navli {
      background-color: grey;
      color: white;
      text-align: center;
      margin: 1px;
      list-style-type: none;
        }

span {
    border-bottom: 5px solid grey;
}

div {
    background-color: #ff7063;
    color: black;
    padding: 10px;
}

footer {
    background-color: black;
    color : white;
    text-align: center;
}
